html {
    background: rgb(41 42 54);
}

* {
    color: rgb(230 232 251);
    font-family: noto-sans, sans-serif;
    font-style: normal;
    font-weight: 100;
    box-sizing: border-box;
    
}

header {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: 0;
    background: rgb(41 42 54);
}

#main-container, .div-container, .main-section {
    height: 100%;
}

#main-container {
    margin-left: 190px;
    margin-top: 125px;
    padding: 16px;
    height: 100%;
    width: auto;
    position: fixed;
}

.div-container {
    column-count: 2;
    column-gap: 35px;
    padding: 8px;
    width: auto;
}

.main-section {
    padding: 8px;
    text-align: center;

}

h2 {
    font-size: 30px;
    text-align: center;
}

p {
    letter-spacing: 0.5px;
    font-size: 18px;
}

fieldset {
    width: 100%;
    height: auto;
    margin-bottom: 1em;
    width: 24em;
    padding-top: 1.5em;
    border-color:rgb(88 185 158);
    position: fixed;
    margin: 0 85px;
    text-align: left;
}

.contact-form {
    padding: 0 8px;
    margin: 0 10px 20px 0;
}

#nav-bar {
    height: 150px;
    width: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    border-style: solid;
    border-width: 0 0 2px 0;
    border-color: rgb(88 185 158);
    background: rgb(41 42 54);
    left: 200px;
          
}

.nav-link {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 18px;
    font-weight: 20;
    transition: 0.3s;
    border-style: none;
    position: relative;
}

.second-level {
    border-style: solid;
    border-width: 2px 0 0;
    border-color:rgb(88 185 158);
}

a:hover {
    background: white;
    color: black;
   }

.side-nav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 156px;
    left: 0;
    overflow: hidden;
    border-style: solid;
    border-width: 2px 1px 0 0;
    border-color: rgb(88 185 158);
    background: rgb(41 42 54);
}

.side-link {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    font-weight: 20;
    display: block;
    transition: 0.3s;
    border-style: none;
}

.matt-marion {
    font-size: 40px;
    font-weight: 125;
}


.text-header {
    font-size: 22px;
    padding-top: 0;
    margin-top: 50px;
    position: absolute;
    left: 25px;

}

.social-icons {
    padding: 20px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;  
}

.fa-github {
    background: #3B5998;
    color: white;
  }
  
  .fa-linkedin-in {
    background: #55ACEE;
    color: white;
  }

img {
    width: 145px;
    height: 140px;
    position: fixed;
    margin: 0 20px;
    display: block; 
    border-radius: 50%;
    image-resolution: snap;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}